

/* ---> Default Styling  ......................................... */

        * {
            box-sizing: border-box;
        }

        html {
            font-size: 20px;
            font-family: Avenir;
            letter-spacing: .5px;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            color: white;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        li:hover {
            background-color: silver;
            color: black;
        }

        .active { 
            color: black;
            background-color: silver;
        } 

        #active { 
            color: black;
            background-color: silver;
        } 

        .clearfix:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }        

        .hidden {
        	display: none;
        }


 /* ---> Body ................................................. */

        #bodyContainer {
            width: 90%;
            margin: auto;
        }


 /* ---> Header ............................................... */

        #headerContainer {
            width: 100%;
            background-color: black;
            border-top-left-radius:  15px;
            border-top-right-radius: 15px;
            border-top:   solid white 1px;
            border-right: solid white 1px;
            border-left:  solid white 1px;
        }

        #eazeLogo {
            height: 25px;
            width: auto;
            margin-top:    15px;
            margin-bottom: 10px;
            margin-left:   15px;
            margin-right:  5px;
            float: left;
            outline: none;
            border: none;
        }
        
        #searchBar {
            margin-top:    25px;
            margin-bottom: 10px;
            margin-right:  15px;
            margin-left:   5px;
            float: right;
            max-width: 25%;
            min-width: 10%;
            height: 15px;
            border-radius: 15px;
            padding: 2px;
            border: 0;
            outline: none;
            color: silver;
        }


 /* ---> Nav .................................................. */

        #navContainer {
            background-color: black;
            width: 100%;
            border: solid white 1px;
        }

        .nav {
            background-color: black;
            color: white;
            text-align: center;
            line-height: 30px;
        }

        .container {
            width: 33.33%;
            display: inline;
            float: left;
        }

        .dept {
            width: 100%;
            font-size: .8em;
        }

        .menu {
            display: none;
        }

        .category {
            font-size: .6em;
            width: 33.33%;
            float: left;
        }

/*        .mens.category:hover {
            background-color: LightGreen;
        }

        .womens.category:hover {
            background-color: LightPink; 
        }

        .accessories.category:hover {
            background-color: Tan; 
        }*/

        
 /*---> Images ............................................... */

        #imgContainer {
            width: 100%;
            /*height: 590px;*/
            /*overflow: scroll;*/
            display: none;
        }
        
        .productWrapper {
            width: 33.33%;
            height: same-as-width;
            float: left;
            padding: 0;
            margin:0;
            border: solid white 1px;
        }

        img {
            width: 100%;    
        }

        .buyThis {
            width: 100%;
            height: 100px;
            background-color: red;
            display: none;
        }


 /*---> Info ................................................. */

        #infoContainer {
            width: 100%;
            height: 300px;
            background-color: silver;
            border: solid white 1px;
            display: none;
        }

        .info {
            margin-top: auto;
            color: black;
            text-align: center;
        }

        h1 {
            font-weight: normal;
            color: white;
            margin-top: 90px;
            font-size: 1em;
            margin-bottom: 20px;
        }

        p,a {
            font-size: .7em;
        }

        a:link {
            text-decoration: none;
            color: black;
        }

        a:hover {
            text-decoration: underline;
            color: white;
        }

        span {
            color: white;
        }
               
        #about {
            display: none;
        }   

        #faq {
            display: none;    
        }

        #contact {
            display: none;
        }    

        
 /*---> Footer ............................................... */

        #footerContainer {
            background-color: black;
            width: 100%;                
            border-bottom: solid white 1px;
            border-right:  solid white 1px;
            border-left:   solid white 1px;
        }

        #footerLeft {
            background-color: black;                
            font-size: .4em;
            width: 33.33%;
            height: 30px;
            line-height: 30px;
            float: left;
            border-bottom-left-radius: 15px;
            box-sizing: border-box;
        }

        .bottomLeft:hover {
            border-bottom-left-radius: 15px;
        }

        .left.footer {
            width: 33.33%;
            float: left;
        }

        #footerRight {
            background-color: black;
            float: right;
            color: white;
            width: 66.66%;
            height: 30px;
            border-bottom-right-radius: 15px;        
        }

        #allRights {
            color: white;
            font-size: .5em;
            position: relative;
            float: right;
            margin-bottom: 0;
            margin-right: 15px; 
            line-height: 15px;
        }

} 

