/* ---> Default Styling  ......................................... */

        * {
                box-sizing: border-box;
        }

        ul {
                margin: 0;
                padding: 0;
        }

        li {
                color: white;
                list-style-type: none;
                margin: 0;
                padding: 0;
                text-align: center;
        }

        li:hover {
                background-color: silver;
                color: black;
        }

        .active { 
                color: black;
                background-color: silver;
        } 

        #active { 
                color: black;
                background-color: silver;
        } 

        .clearfix:after {
                content: ".";
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
        }        

        .hidden {
        	display: none;
        }


/*---> Media Query - Small ...................................... */

@media (min-width: 650px) {   

        html {
                font-size: 20px;

                font-family: Avenir;
                letter-spacing: .5px;
        }


 /* ---> Body ................................................. */

        #bodyContainer {
                width: 90%;

                margin: auto;
        }


 /* ---> Header ............................................... */

        #headerContainer {
                width: 100%;
                background-color: black;
                border-top-left-radius:  15px;
                border-top-right-radius: 15px;
                border-top:   solid white 1px;
                border-right: solid white 1px;
                border-left:  solid white 1px;
        }

        #eazeLogo {
                height: 25px;

                width: auto;
                margin-top:    15px;
                margin-bottom: 10px;
                margin-left:   15px;
                margin-right:  5px;
                float: left;
                outline: none;
                border: none;
        }
        
        #searchBar {
                margin-top:    25px;

                margin-bottom: 10px;
                margin-right:  15px;
                margin-left:   5px;
                float: right;
                max-width: 25%;
                min-width: 10%;
                height: 15px;
                border-radius: 15px;
                padding: 2px;
                border: 0;
                outline: none;
                color: silver;
        }


 /* ---> Nav .................................................. */

        #navContainer {
                background-color: black;
                width: 100%;
                border: solid white 1px;
        }

        .nav {
                color: white;
                text-align: center;
        }

        .container {
                width: 33.33%;
                display: inline;
                float: left;
        }

        .dept {
                width: 100%;
                line-height: 30px;
                font-size: .8em;
        }

        .menu {
                display: none;
        }

        .category {
                line-height: 30px;
                font-size: .6em;
                width: 33.33%;
                float: left;
        }

/*        .mens.category:hover {
        	background-color: LightGreen;
        }

        .womens.category:hover {
        	background-color: LightPink; 
        }

        .accessories.category:hover {
        	background-color: Tan; 
        }*/

        
 /*---> Images ............................................... */

        #imgContainer {
                width: 100%;
                padding-bottom: 1px; 
                display: none;
        }
        
        img {
                width: 33.33%;
                float: left;
                display: inline;
                padding: 0;
                border: solid white 1px;
        }
        
        
 /*---> Footer ............................................... */

        #footerContainer {
                background-color: black;
                width: 100%;                
                border-bottom: solid white 1px;
                border-right:  solid white 1px;
                border-left:   solid white 1px;
        }

        .info {
                color: white;
        }

        #footerLeft {
                background-color: black;                
                font-size: .6em;
                width: 33.33%;
                height: 30px;
                line-height: 30px;
                float: left;
                border-bottom-left-radius: 15px;
                box-sizing: border-box;
        }

        #bottomLeft:hover {
                border-bottom-left-radius: 15px;
        }

        .leftFooter {
                width: 33.33%;
                float: left;
        }

/*        .leftFooter:hover {
        	background-color: black;
        	color: Aquamarine;
        }*/

        #footerRight {
                background-color: black;
                float: right;
                color: white;
                width: 66.66%;
                height: 30px;
                border-bottom-right-radius: 15px;        
        }

        #allRights {
            	color: white;
            	font-size: .5em;
            	position: relative;
            	float: right;
            	margin-bottom: 0;
            	margin-right: 15px; 
            	line-height: 25px;
        }

} 


/*---> Media Query - Large ...................................... */

 @media (min-width: 1000px) {

        html {
                font-size: 30px;
        }


 /* ---> Body ................................................. */

        #bodyContainer {
                width: 80%;
        }


 /* ---> Header ............................................... */

        #headerContainer {
                width: 100%;
                background-color: black;
                border-top-left-radius:  15px;
                border-top-right-radius: 15px;
                border-top:   solid white 1px;
                border-right: solid white 1px;
                border-left:  solid white 1px;
        }

        #eazeLogo {
                height: 35px;
        }
        
        #searchBar {
                margin-top:    35px;
        }


        
        
 /*---> Footer ............................................... */

        #allRights {
                line-height: 10px;
        }

} 


/*---> Media Query - Mobile ...................................... */

 @media (max-width: 649px) {   

        html {
                font-size: 15px;

                font-family: Avenir;
                letter-spacing: .5px;
        }


 /* ---> Body ................................................. */

        #bodyContainer {
                width: 100%;

                margin: auto;
        }


 /* ---> Header ............................................... */

        #headerContainer {
                width: 100%;
                background-color: black;
                border-top-left-radius:  15px;
                border-top-right-radius: 15px;
                border-top:   solid white 1px;
                border-right: solid white 1px;
                border-left:  solid white 1px;
        }

        #eazeLogo {
                height: 25px;

                width: auto;
                margin-top:    15px;
                margin-bottom: 10px;
                margin-left:   15px;
                margin-right:  5px;
                float: left;
                outline: none;
                border: none;
        }
        
        #searchBar {
                margin-top:    25px;

                margin-bottom: 10px;
                margin-right:  15px;
                margin-left:   5px;
                float: right;
                max-width: 25%;
                min-width: 10%;
                height: 15px;
                border-radius: 15px;
                padding: 2px;
                border: 0;
                outline: none;
                color: silver;
        }


 /* ---> Nav .................................................. */

        #navContainer {
                background-color: black;
                width: 100%;
                border: solid white 1px;
        }

        .nav {
                background-color: black;
                color: white;
                text-align: center;
        }

        .container {
                width: 100%;
                display: inline;
                float: left;
                outline: solid white 1px;
        }

        .dept {
                width: 100%;
                line-height: 30px;
                font-size: 1em;
        }

        .menu {
                display: none;
        }

        .category {
                line-height: 30px;
                font-size: .8em;
                width: 33.33%;
                float: left;
        }


        
 /*---> Images ............................................... */

        #imgContainer {
                width: 100%;
                height: same-as-width;
                padding-bottom: 1px;
                
                display: none;
        }
        
        img {
                width: 100%;
                height: same-as-width;
                float: left;
                display: inline;
                margin: none;
                padding: 0;
                border: solid white 1px;
                box-sizing: border-box;
        }
        
        
 /*---> Footer ............................................... */

        #footerContainer {
                background-color: black;
                width: 100%;                
                border-bottom: solid white 1px;
                border-right:  solid white 1px;
                border-left:   solid white 1px;
        }

        .footer {

        }

        .info {
                color: white;
        }

        #footerLeft {
                background-color: black;                
                font-size: .6em;
                width: 50%;
                height: 30px;
                line-height: 30px;
                float: left;
                border-bottom-left-radius: 15px;
                box-sizing: border-box;
        }

        #bottomLeft:hover {
                border-bottom-left-radius: 15px;
        }

        .leftFooter {
                width: 33.33%;
                float: left;
        }

        #footerRight {
                background-color: black;
                float: right;
                color: white;
                width: 50%;
                height: 30px;
                border-bottom-right-radius: 15px;
        }

        #allRights {
                color: white;
                font-size: .5em;
                position: relative;
                float: right;
                margin-bottom: 0;
                margin-right: 15px; 
                line-height: 25px;
        }

} 

