html {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
}

#bodyContainer {
	width: 100%;
}

/*	level1 .............................*/

	/*	logo ...........................*/

	#sqaure {
		width: 600px;
		height: 600px;
		margin: auto;
		margin-top: 50px;
		background-color: #E8E8E8;
		border-radius: 1px;
	}

	img {
		width: 60%;
		margin-top:   20%;
		margin-bottom: 5%;
		margin-left:  20%;
		margin-right: 20%;
	}

	#logoName {
		color: white;
		text-align: center;
		font-size: 2em;
		margin: auto;
	}

	/*	scroll ...........................*/

	#scrollContainer {
		width: 100%;
		margin: auto;
		margin-top: 90px;
		margin-bottom: 50px;
		text-align: center;
		opacity: .75;
		/*visibility: hidden;*/
	}

	#scroll {
		font-size: .5em;
		margin-bottom: 0;
		color: #E8E8E8;
	}

	.arrowDown {
		width: 0; 
		height: 0; 
		border-left:  15px solid transparent;
		border-right: 15px solid transparent;
		border-top:   15px solid #E8E8E8;
		margin: auto;
	}


/*	level2 .............................*/

	#level2 {
		width: 100%;
		height: 500px;
		background-color: #E8E8E8; 
		margin: auto;
	}














